
<div class="container bg-black bg-opacity-50 p-lg-5 my-5">
    <div class="wrapper" bis_skin_checked="1">
        <main>
            <div class="container" bis_skin_checked="1">
                <center>
                    <img src="~/img/city.png" class="city__icon">
                </center>
                <h1 class="guide__title" style="margin-bottom: 72px;">About Sucrose Restaurant</h1>
            </div>

			<!--About Us-->
			<div id="sub" bis_skin_checked="1">
				<div id="contents" bis_skin_checked="1" style="color:aliceblue">
					<a name="tab1"></a>
					<div class="background" bis_skin_checked="1">
						<h2 class="about-headagile text-capitalize mt-2 mb-4 text-right">
							Sucrose Restaurant?</h2>
						<div class="tit16Gray" bis_skin_checked="1"><span>'Delicious'</span> là phương châm của Sucrose Restaurant.</div>
					</div>
					<p>
						Tất cả món ăn chúng tôi phục vụ đều đảm bảo mang đến cho quý khách một bữa ăn không thể quên, với giá cả phù hợp và phải chăng
						<br><br>

						<span>Kinh nghiệm và chuyên môn</span> rất được chú trọng và phát triển tại nhà hàng.<br>
						Những đầu bếp của chúng tôi là những đầu bếp hàng đầu thế giới được đào tạo chuyên nghiệp.<br>
						Sẽ mang đến cho các bạn những món ăn tuyệt vời.
						<br><br>

						<span>Uy tín và chất lượng</span> là những gì mà chúng tôi tự tin.<br>
						Sucrose Restaurant sẽ đồng hành cùng với các bạn trong từng bữa ăn.
						<br><br>

						Không chỉ là món ăn mà đó còn là Sucrose.<br>
						<span>THAT IS WHAT WE MAKE.</span>
					</p>

					<br>
					<br>
					<!-- Info -->
					<h3 class="about-headagile text-capitalize mt-2 mb-4 text-right">
						<span>Sucrose Info</span></h3>
					<div bis_skin_checked="1">
						<p><b>Company Name</b> &nbsp;&nbsp;&nbsp;&nbsp; Sucrose Co., Ltd. (www.bvu.edu.vn)</p>
						<p><b>CEO</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khang Sục & Tam Row</p>
						<p><b>Established Date</b> &nbsp;&nbsp;&nbsp;&nbsp; March 2023</p>
						<p><b>Business Area</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Restaurant</p>
					</div>

					<div class="company_photo" bis_skin_checked="1">
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company1B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company2B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company3B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company4B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company5B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
						<a href="#none" onclick="Front.companyImg(&#39;/img/img_company6B.JPG&#39;);"><img src="~/img/img_company4S.png"></a>
					</div>
					<div id="company_view" onclick="$(&#39;#company_view&#39;).hide();" style="display:none;background-color:#000;cursor:pointer;position:absolute;width:700px;height:400px;left:300px;top:700px;" bis_skin_checked="1"></div>
				</div>
			</div>
            
                
        </main>
    </div>
</div>
