
<body>
    <div class="wrapper" bis_skin_checked="1">
        <!--Main-->
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Add Món Ăn</h1>
                    <div class="container" bis_skin_checked="1">

                        <div class="row justify-content-center" bis_skin_checked="1">
                            <div class="col-md-8" bis_skin_checked="1">
                                <div class="card" style="box-shadow: unset" bis_skin_checked="1">
                                    <div class="card-body" bis_skin_checked="1">
                                        <br>
                                        <form>
                                            <input type="hidden">
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="full_name" class="col-md-4 col-form-label text-md-right">
                                                    Thông tin 01
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input class="form-control" value="" required="" placeholder="Thông tin 01">
                                                </div>
                                            </div>
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="full_name" class="col-md-4 col-form-label text-md-right">
                                                    Thông tin 02
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input class="form-control" value="" required="" placeholder="Thông tin 02">
                                                </div>
                                            </div>
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="full_name" class="col-md-4 col-form-label text-md-right">
                                                    Thông tin 03
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input class="form-control" value="" required="" placeholder="Thông tin 03">
                                                </div>
                                            </div>
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="full_name" class="col-md-4 col-form-label text-md-right">
                                                    Thông tin 04
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input class="form-control" value="" required="" placeholder="Thông tin 04">
                                                </div>
                                            </div>

                                            <div class="form-group row mb-0" bis_skin_checked="1">
                                                <div class="col-md-8 offset-md-4" bis_skin_checked="1">
                                                    <button type="submit" class="btn btn-primary">
                                                        Add
                                                    </button>
                                                    <a asp-controller="Account" asp-action="Login" class="btn btn-light" bis_skin_checked="1">
                                                        Reset
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
