<html lang="vi" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Chi tiết sản phẩm</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">
</head>

<body style="height: auto;" bis_skin_checked="1">
    <div class="wrapper" bis_skin_checked="1">
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Chi tiết món ăn</h1>
                </div>
                <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: -6px;" bis_skin_checked="1">
                    <!-- The slideshow -->
                    <div class="" bis_skin_checked="1">
                        <div class="" bis_skin_checked="1">
                            <div class="info-detail-product" bis_skin_checked="1">
                                <div class="row g-0 info-line" bis_skin_checked="1">

                                    <section class="col text-center text-uppercase text-nowrap">
                                        <h4>Sản phẩm 1</h4> Thông tin sản phẩm
                                    </section>

                                </div>
                                <div class="hr-product" bis_skin_checked="1"></div>
                                <div class="row g-0 info-line" bis_skin_checked="1">
                                    <section class="row g-0 text-center">
                                        <span class="more-detail">
                                            Chi tiết sản phẩm
                                        </span>
                                    </section>
                                </div>
                                <div class="hr-product" bis_skin_checked="1"></div>

                                <div class="row g-0 info-line" bis_skin_checked="1">
                                    <section class="row g-0 text-center">
                                        <h4 class="col-12 pb-2">
                                            Sản phẩm 1
                                        </h4>
                                        <span class="col hero-details">
                                        </span>
                                    </section>
                                </div>

                                <div class="row" bis_skin_checked="1">
                                    <div class="col-6" bis_skin_checked="1">
                                        <button class="btn-pretty float-right">9,999,999<sup>VNĐ</sup></button>
                                    </div>
                                    <div class="col-6" bis_skin_checked="1">
                                        <form>
                                            <button name="buy_acc" value="buy_acc" class="btn-pretty">
                                                Ngon quá, mua thôi!
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <center>
                                    <a href="#" data-slide="next" bis_skin_checked="1">
                                        <button class="btn-pretty mt-3">
                                            Xem ảnh món ăn
                                        </button>
                                    </a>
                                </center>
                                <h1 class="title-shine h2 mt-5"> 123456 </h1>
                            </div>
                            <div class="carousel-item" bis_skin_checked="1">
                                <div class="col-12" bis_skin_checked="1">
                                    <img src="~/img/city.png" class="product-image">
                                </div>
                                <div class="col-12 product-image-thumbs" bis_skin_checked="1">
                                    <div class="product-image-thumb  active " bis_skin_checked="1"><img src="~/img/city.png" alt="123456"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
