<html lang="vi" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Sản phẩm</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">
</head>

<body>
    <div class="wrapper" bis_skin_checked="1">

        <a asp-action="Add" asp-controller="Product" class="btn btn-primary">Add Món Ăn</a>
        <a asp-action="List" asp-controller="Product" class="btn btn-primary">Customer</a>
        <a asp-action="ListAdmin" asp-controller="Product" class="btn btn-primary">Admin</a>

        <!--Main-->
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Menu</h1>

                    <div class="row" bis_skin_checked="1">
                        <article class="col-md-6 col-lg-4">
                            <div class="genshin-product" bis_skin_checked="1">
                                <div class="wrapper product-wrapper" bis_skin_checked="1">
                                    <div class="ribbon-wrapper ribbon-lg" bis_skin_checked="1">
                                        <div class="ribbon bg-warning text-lg" bis_skin_checked="1">
                                            9,999,999<sub>VNĐ</sub>
                                        </div>
                                    </div>
                                    <a asp-action="Details" asp-controller="Product" bis_skin_checked="1">
                                        <div class="img-banner" style="background-image: url('../../wwwroot/img/cack1.png')" bis_skin_checked="1"></div>
                                    </a>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="col text-center text-uppercase">Sản phẩm 1</section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="row g-0 text-center">
                                            <span class="more-detail">Đây là chi tiết sản phẩm 1</span>
                                        </section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0" bis_skin_checked="1">
                                        <a asp-action="Update" asp-controller="Product" class="btn btn-primary product-detail-button mb-4" bis_skin_checked="1">Cập nhật</a>
                                    </div>

                                    <div class="genshin-product-footer" bis_skin_checked="1">
                                        <div class="hr-product mt-1 mb-1" bis_skin_checked="1"></div>
                                        <a href="#" bis_skin_checked="1">
                                            <button class="btn-pretty mb-2" style="width: fit-content; font-style:italic">
                                                    Xóa món ăn
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!---->
                        <article class="col-md-6 col-lg-4">
                            <div class="genshin-product" bis_skin_checked="1">
                                <div class="wrapper product-wrapper" bis_skin_checked="1">
                                    <div class="ribbon-wrapper ribbon-lg" bis_skin_checked="1">
                                        <div class="ribbon bg-warning text-lg" bis_skin_checked="1">
                                            9,999,999<sub>VNĐ</sub>
                                        </div>
                                    </div>
                                    <a asp-action="Details" asp-controller="Product" bis_skin_checked="1">
                                        <div class="img-banner" style="background-image: url('../../wwwroot/img/cack1.png')" bis_skin_checked="1"></div>
                                    </a>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="col text-center text-uppercase">Sản phẩm 2</section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="row g-0 text-center">
                                            <span class="more-detail">Đây là chi tiết sản phẩm 2</span>
                                        </section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0" bis_skin_checked="1">
                                        <a asp-action="Update" asp-controller="Product" class="btn btn-primary product-detail-button mb-4" bis_skin_checked="1">Cập nhật</a>
                                    </div>

                                    <div class="genshin-product-footer" bis_skin_checked="1">
                                        <div class="hr-product mt-1 mb-1" bis_skin_checked="1"></div>
                                        <a href="#" bis_skin_checked="1">
                                            <button class="btn-pretty mb-2" style="width: fit-content; font-style:italic">
                                                Xóa món ăn
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!---->
                        <article class="col-md-6 col-lg-4">
                            <div class="genshin-product" bis_skin_checked="1">
                                <div class="wrapper product-wrapper" bis_skin_checked="1">
                                    <div class="ribbon-wrapper ribbon-lg" bis_skin_checked="1">
                                        <div class="ribbon bg-warning text-lg" bis_skin_checked="1">
                                            9,999,999<sub>VNĐ</sub>
                                        </div>
                                    </div>
                                    <a asp-action="Details" asp-controller="Product" bis_skin_checked="1">
                                        <div class="img-banner" style="background-image: url('../../wwwroot/img/cack1.png')" bis_skin_checked="1"></div>
                                    </a>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="col text-center text-uppercase">Sản phẩm 3</section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0 info-line" bis_skin_checked="1">
                                        <section class="row g-0 text-center">
                                            <span class="more-detail">Đây là chi tiết sản phẩm 3</span>
                                        </section>
                                    </div>
                                    <div class="hr-product" bis_skin_checked="1"></div>
                                    <div class="row g-0" bis_skin_checked="1">
                                        <a asp-action="Update" asp-controller="Product" class="btn btn-primary product-detail-button mb-4" bis_skin_checked="1">Cập nhật</a>
                                    </div>

                                    <div class="genshin-product-footer" bis_skin_checked="1">
                                        <div class="hr-product mt-1 mb-1" bis_skin_checked="1"></div>
                                        <a href="#" bis_skin_checked="1">
                                            <button class="btn-pretty mb-2" style="width: fit-content; font-style:italic">
                                                Xóa món ăn
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </section>
        </main>
    </div>
</body>
</html>
