@using Admin.Models.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Admin.Models.Bookings.Booking
@inject SignInManager<User> SignInManager


<!-- Reservation Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/o-YBDTqX_ZU" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-warning fw-normal">Đặt bàn</h5>
                <h1 class="text-white mb-4">Đặt bàn online</h1>
                <form asp-action="Index" enctype="multipart/form-data" method="post">
                    <div class="row g-3">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @if(!SignInManager.IsSignedIn(User))
                        {
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Tên của bạn">
                                    <label asp-for="Name" for="name">Tên của bạn</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Name" readonly type="text" class="form-control" id="name">
                                    <label asp-for="Name" for="name">Tên của bạn</label>
                                </div>
                            </div>
                        }
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Phone" type="text" class="form-control" id="phoneNumber" placeholder="Số điện thoại">
                                <label asp-for="Phone" for="phoneNumber">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input asp-for="Date" type="datetime" class="form-control" id="datetime" placeholder="Ngày vào" data-target="#date3" data-toggle="datetimepicker" style="inset: 0px !important;" />
                                <label asp-for="Date" for="datetime">Ngày vào</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="People" class="form-select" id="select1">
                                    <option value="1">1 người</option>
                                    <option value="2">2 người</option>
                                    <option value="3">3 người</option>
                                    <option value="4">4 người</option>
                                </select>
                                <label asp-for="People" for="select1">Số người</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea asp-for="Message" class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                <label asp-for="Message" for="message">Special Request</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-warning w-100 py-3" type="submit">Book Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Start -->