<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">Cảm ơn bạn đã đặt bàn</h1>
            <p class="text-center">Chúng tôi đã nhận được thông tin đặt bàn của bạn và sẽ phản hồi sớm cho bạn.</p>
        </div>
    </div>
</div>