
<body>
	<!-- Welcome -->
	<div class="wrapper" bis_skin_checked="1">
		<main>
			<div class="container-fluid" bis_skin_checked="1">
				<center><img src="~/img/city.png" class="city__icon"></center>
				<h1 class="guide__title" style="margin-bottom: 72px;">Welcome to Sucrose Restaurant</h1>
			</div>


			<div class="row">
				<div class="col-lg-6 aboutleft">
					<p class="about-left-agile text-dark text-capitalize font-weight-bold">Về chúng tôi</p>
					<h3 class="about-headagile text-capitalize mt-2 mb-4 text-right">Vị ngon trên từng món ăn</h3>
					<p class="my-3">
						Nhà hàng Sucrose với châm ngôn "không ngon không lấy tiền" hứa hẹn sẽ mang đến cho quý khách những món ăn ngon và trải nghiệm
						tuyệt vời ở nhà hàng. Những món ăn được làm bởi các đầu bếp nổi tiếng hàng đầu DH20LT: KhoiBoss, SonDaika, KhangSus, ... sẽ không
						làm quý khách thất vọng.
					</p>
					<p>
						Nhà hàng Sucrose đã tiếp đón nhiều khách quý đến như: TMA, TienCho, ... và được đánh giá rất cao. Còn bạn thì sao ?
						Hãy đến và trải nghiệm tại Sucrose Restaurant!
					</p>
					<a asp-controller="Food" asp-action="List" class="okehe">Let's go! &#8594;</a>
				</div>
				<div class="col-lg-6 aboutright">
					<div class="large-12 columns">
						<!-- Owl-Carousel -->
						<div id="owl-demo" class="owl-carousel owl-theme text-center agileinfo-gallery-row">
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w1.png" title="Ice Cream" alt="" />
							</a>
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w2.png" title="Ice Cream" alt="" />
							</a>
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w3.png" title="Ice Cream" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<!--//about-->

</body>
