
<body>
	<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url(../../wwwroot/img/b1.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">ice cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for ice cream!</p>
					<a class="bubbly-button" href="menu.html">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url(../../wwwroot/img/b2.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/img/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">ice cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for ice cream!</p>
					<a class="bubbly-button" href="#">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url(../../wwwroot/img/b4.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/img/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">ice cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for ice cream!</p>
					<a class="bubbly-button" href="#">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url(../../wwwroot/img/b4.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/img/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">ice cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for ice cream!</p>
					<a class="bubbly-button" href="#">View Menu</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="container-fluid" bis_skin_checked="1">
				<center><img src="~/img/city.png" class="city__icon"></center>
				<h1 class="guide__title" style="margin-bottom: 72px;">About Us</h1>
			</div>


			<div class="row">
				<div class="col-lg-6 aboutleft">
					<p class="about-left-agile text-dark text-capitalize font-weight-bold">our flavors</p>
					<h3 class="about-headagile text-capitalize mt-2 mb-4 text-right">fresh & tasty! </h3>
					<p class="my-3">
						Enim a viverra tincidunt, tortorin urna porta ligula, venenatis vestibulum sapien augue vitae ligula. Phasellus vel
						augue sem. Nulla auctor elit augue, eu volutpat risus tincidunt ullamcorper. Su spendisse id ante molestie libero placerat
						condimentum.
					</p>
					<p>
						Nulla auctor elit augue, eu volutpat risus tincidunt ullamcorper. Su spendisse id ante molestie libero placerat condimentum.
						Maecenas in conse quatlibero. Maecenas nisi sapien.
					</p>
				</div>
				<div class="col-lg-6 aboutright">
					<div class="large-12 columns">
						<!-- Owl-Carousel -->
						<div id="owl-demo" class="owl-carousel owl-theme text-center agileinfo-gallery-row">
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w1.png" title="Ice Cream" alt="" />
							</a>
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w2.png" title="Ice Cream" alt="" />
							</a>
							<a class="item g1">
								<img class="lazyOwl img-fluid" src="/img/w3.png" title="Ice Cream" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//about-->

</body>
