
<body>
    <div class="wrapper" bis_skin_checked="1">       
        <!--Main-->
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Main</h1>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
