<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Tận hưởng<br>Những món ngon</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Chào mừng quý khách đến với nhà hàng Succrose - nơi mang đến cho bạn những trải nghiệm ẩm thực tuyệt vời và đầy cảm hứng. Với bàn tay tài hoa của đội ngũ đầu bếp chuyên nghiệp cùng với những nguyên liệu tươi ngon và chất lượng, chúng tôi cam kết sẽ mang đến cho quý khách những món ăn đậm chất đặc trưng của vùng đất này. Hãy cùng chúng tôi khám phá thế giới ẩm thực đầy sắc màu và hương vị tại Succrose!</p>
                <a asp-controller="Booking" asp-action="Index" class="btn btn-warning py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-warning fw-normal">Team Members</h5>
            <h1 class="mb-5">Quản lý của chúng tôi</h1>
        </div>
        <div class="row g-lg-5">
            <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/img/row.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Bùi Ngọc Tâm</h5>
                    <small>Quản lý</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/img/khang2.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Trương An Khang</h5>
                    <small>Quản lý</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-warning fw-normal">Đánh giá</h5>
            <h1 class="mb-5">Khách của chúng tôi !!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/img/khoi.png" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->