<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/css/adminlte.min.css">*@

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css" asp-append-version="true">
    <!-- Liên kết với font awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


    <!-- Bootstrap-Core-CSS -->
    <link href="~/css/pogo-slider.min.css">

    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- owl carousel css (for welcome section) -->
    <link rel="stylesheet" href="~/css/flexslider.css">
</head>

<body>
    <!--Header-->
    <header class="bg-black bg-opacity-50">
        <nav class="navbar navbar-expand-lg p-2">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="text-shadow: 2px 2px 2px #000000;color: #fff;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarText">
                        <li class="nav-item">
                            <a asp-controller="Main" asp-action="Main" class="nav-link menu-header shine-active"><i class="ficon fa-lg fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <!-- Menu -->
                            <a asp-controller="Food" asp-action="List" class="nav-link menu-header">List Food</a>
                        </li>
                        <li class="nav-item">
                            <!--Category-->
                            <a asp-controller="Category" asp-action="List" class="nav-link menu-header">Category</a>
                        </li>
                        <li class="nav-item">
                            <!-- About Us -->
                            <a asp-controller="AboutUs" asp-action="Index" class="nav-link menu-header">About Us</a>
                        </li>
                        <li class="nav-item">
                            <!-- List Shopping -->
                            <a asp-controller="Food" asp-action="ListShoppingFood" class="nav-link menu-header">Menu</a>
                        </li>
                        <li class="nav-item">
                            <!-- Cart -->
                            <a asp-controller="Cart" asp-action="Cart" class="nav-link menu-header">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            <form class="form-inline">
                <button asp-controller="Account" asp-action="Register" class="btn btn-success my-2 my-sm-0" style="margin:5px">
                    Register
                </button>
                <button asp-controller="Account" asp-action="Login" class="btn btn-success my-2 my-sm-0" style="margin:5px">
                    Login
                </button>
            </form>
    </header>
    <!--Body-->
    <div class="container">
        @*<main role="main" class="pb-3">*@
        @RenderBody()
        @*</main>*@
    </div>
    <!--Footer-->
    <footer class="mt-5 p-3" style="background: rgb(27 25 60 / 58%);color: #fff; margin-right: -6px; margin-left: -8px">
        <div class="container-lg" bis_skin_checked="1">
            <h2 class="guide__title mt-3">
                <a href="#">
                    <img src="#" style="margin-top: -8px;height: 45px">
                </a>
            </h2>
            <div class="row" bis_skin_checked="1">
                <section class="col-12 col-lg-4">
                    <div class="h h4 link-active" bis_skin_checked="1">
                        <a>Nhà hàng Sucrose</a>
                    </div>
                    <p>
                        <span style="color: rgb(255, 255, 255); font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;;" class="success">
                            <p class="m-0">Đây là bài báo cáo cuối kỳ web 2 của nhóm Sucrose</p>
                            <p class="m-0">Không có tính thương mại</p>
                            <p class="m-0">Dùng cho mục đích học tập ^^!</p>
                        </span>
                        <br>
                    </p>
                    <p class="mt-3 small">©DH20LT - Bản quyền thuộc về Sucrose Team</p>
                    <div class="h h5" bis_skin_checked="1">
                        <i class="fa fa-language"></i> Ngôn ngữ
                    </div>
                    <a class="btn btn-sm  btn-info " href="#" bis_skin_checked="1">English</a>
                    <a class="btn btn-sm  btn-info " href="#" bis_skin_checked="1">Mặc định</a>
                </section>
                <section class="col-12 col-lg-4">
                    <div class="h h4 link-active" bis_skin_checked="1">Thành viên của nhóm</div>
                    <p class="m-0">Trương An Khang</p>
                    <p class="m-0">Bùi Ngọc Tâm</p>
                </section>
                <section class="col-12 col-lg-4">
                    <a class="fab fa-facebook-square fa-2x mr-2" href="https://www.facebook.com/sansy.tak"></a>
                    <a class="fab fa-youtube fa-2x"></a>
                    <p class="mt-3 fw-bold"><i class="fa fa-phone mr-2"></i>Phone: 0123456789 (8h-22h)</p>
                    <p class="fw-bold"><i class="fa fa-clock mr-2"></i>Thời gian làm việc: 8h - 24h</p>
                    <p class="fw-bold"><i class="fa fa-map-marked-alt mr-2"></i>Địa chỉ: 02 Trương Văn Bang, Tp Vũng Tàu - tỉnh Bà Rịa Vũng Tàu</p><p class="m-0"></p>
                </section>
            </div>
        </div>
    </footer>


    <!--Add-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>

    <!-- JavaScript -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- Default-JavaScript-File -->
    <!-- Owl-Carousel-JavaScript (for welcome section) -->
    <script src="~/js/owl.carousel.js"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
        });
    </script>
    <!-- //Owl-Carousel-JavaScript (for welcome section) -->
    <!-- flexisel slider (for middle Slider) -->
    <script src="js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 440,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 667,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 900,
                        visibleItems: 4
                    }
                }
            });

        });
    </script>
    <!-- //flexisel slider (for middle Slider) -->
    <!-- flexSlider (for testimonials) -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider (for testimonials) -->
    <!-- stats -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- smooth scrolling -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling-bottom-to-top -->
    <script>
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!-- //smooth scrolling-bottom-to-top -->
    <!-- Pogo slider (for banner) -->
    <script src="~/js/jquery.pogo-slider.min.js"></script>
    <script src="~/js/main.js"></script>
    <!-- Pogo slider (for banner) -->

    <script src="~/js/ok.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    <!--Default-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
