<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Cart</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">

</head>
<body>
    <div class="wrapper" bis_skin_checked="1">
        <!--Main-->
        <main>
            <div class="container-fluid" bis_skin_checked="1">
                <center><img src="~/img/city.png" class="city__icon"></center>
                <h1 class="guide__title" style="margin-bottom: 72px;">Giỏ Hàng</h1>
            </div>

            <div class="row justify-content-center" bis_skin_checked="1">
                <div class="col-md-8" bis_skin_checked="1">
                    <div class="card" style="box-shadow: unset" bis_skin_checked="1">
                        <div class="card-body" bis_skin_checked="1">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Details</th>
                                        <th>Quantity</th>
                                        <th class="text-right">Price</th>
                                        <th class="text-right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">Name</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary">Chi tiết</a>
                                        </td>
                                        <td class="text-left">
                                            <input type="number" value="" onchange=""
                                                   id="quantity-input" />
                                        </td>
                                        <td class="text-right">9,999,999</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-right">Total:</td>
                                        <td class="text-right">9,999,999 vnđ</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a class="btn btn-outline-primary">Clear</a>
                            <a class="btn btn-outline-primary">Back to shop</a>
                            <a class="btn btn-outline-primary">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>

            

        </main>
    </div>
</body>
</html>
