<html lang="vi" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Forgot</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">
</head>

<body>
    <!--Main-->
    <main>
        <section class="content">
            <div class="container-fluid" bis_skin_checked="1">
                <center><img src="~/img/city.png" class="city__icon"></center>
                <h1 class="guide__title" style="margin-bottom: 72px;"></h1>
                <div class="container" bis_skin_checked="1">
                    <div class="row justify-content-center" bis_skin_checked="1">
                        <div class="col-md-8" bis_skin_checked="1">
                            <div class="card" bis_skin_checked="1">
                                <div class="card-header" bis_skin_checked="1">
                                    Quên mật khẩu
                                </div>

                                <div class="card-body" bis_skin_checked="1">

                                    <form>
                                        <input type="hidden" name="_token" value="aTvpOZB8tfgxuqexbWR2TwJZWzvBm0DheqGyHMR3">                            
                                        <div class="form-group row" bis_skin_checked="1">
                                            <label for="login_name" class="col-md-4 col-form-label text-md-right">
                                                Tên đăng nhập
                                            </label>
                                            <div class="col-md-6" bis_skin_checked="1">
                                                <input id="login_name" type="login_name" class="form-control " name="login_name" value="" required="" autocomplete="login_name" autofocus="">
                                            </div>
                                        </div>
                                        <div class="form-group row" bis_skin_checked="1">
                                            <label for="email" class="col-md-4 col-form-label text-md-right">
                                                Địa chỉ email
                                            </label>
                                            <div class="col-md-6" bis_skin_checked="1">
                                                <input id="email" type="email" class="form-control " name="email" value="" required="" autocomplete="email" autofocus="">
                                            </div>
                                        </div>

                                        <div class="form-group row mb-0" bis_skin_checked="1">
                                            <div class="col-md-6 offset-md-4" bis_skin_checked="1">
                                                <button type="submit" class="btn btn-primary">
                                                    Gửi mật khẩu mới
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
