<html lang="vi" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Login</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">
</head>

<body>
    <div class="wrapper" bis_skin_checked="1">       
        <!--Main-->
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Login</h1>
                    <div class="container" bis_skin_checked="1">

                        <div class="row justify-content-center" bis_skin_checked="1">
                            <div class="col-md-8" bis_skin_checked="1">
                                <div class="card" style="box-shadow: unset" bis_skin_checked="1">
                                    <div class="card-body" bis_skin_checked="1">
                                        <br>
                                        <form>
                                            <input type="hidden" name="_token" value="aTvpOZB8tfgxuqexbWR2TwJZWzvBm0DheqGyHMR3">
                                            <!--Username-->
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="login_name" class="col-md-4 col-form-label text-md-right">
                                                    Tên đăng nhập
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input id="login_name" type="text" class="concave form-control " name="login_name" value="" required="" autocomplete="login_name" autofocus="">
                                                </div>
                                            </div>
                                            <!--Password-->
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="password" class="col-md-4 col-form-label text-md-right">
                                                    Mật khẩu
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input id="password" type="password" class="concave form-control " name="password" required="" autocomplete="current-password">
                                                </div>
                                            </div>


                                            <div class="col-md-6 offset-md-4 mb-3" bis_skin_checked="1">
                                                <!-- Google reCaptcha -->
                                                
                                                <!-- End Google reCaptcha -->
                                            </div>
                                            <div class="form-group row mb-0" bis_skin_checked="1">
                                                <div class="col-md-8 offset-md-4" bis_skin_checked="1">
                                                    <button type="submit" class="btn btn-primary">
                                                        Đăng nhập
                                                    </button>
                                                    <a asp-controller="Account" asp-action="Register" class="btn btn-light" bis_skin_checked="1">
                                                        Đăng ký
                                                    </a>
                                                    <a asp-controller="Account" asp-action="Forgot" bis_skin_checked="1">
                                                        Quên mật khẩu? Lấy lại
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
