
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-dark p-lg-5 align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-warning fw-normal">Login</h5>
            <h1 class="text-white mb-4">Login to your account</h1>
            <form>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="User name">
                        <label for="name">User Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="password" placeholder="Password">
                        <label for="email">Your Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-info w-100 py-3" type="submit">Login</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger w-100 py-3" type="submit">Forgot</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>