<html lang="vi" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucrose Restaurant - Login</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="~/css/thietke.css">
</head>

<body class="sidebar-collapse layout-top-nav" bis_skin_checked="1" style="height: auto;">
    <div class="wrapper" bis_skin_checked="1">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md nav-header mb-4">
            <div class="container" bis_skin_checked="1">
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="text-shadow: 2px 2px 2px #000000;color: #fff;"></i></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse" bis_skin_checked="1">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="Main" asp-action="Main" class="nav-link"><img src="~/img/tamrow.png" class="img-fluid" style="margin-top: -8px;height: 165%"></a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Main" asp-action="Main" class="nav-link menu-header shine-active"><i class="ficon fa-lg fa fa-home"></i></a>
                        </li>

                        <!-- Menu -->
                        <li class="nav-item">
                            <a asp-controller="Product" asp-action="List" class="nav-link menu-header" bis_skin_checked="1">
                                Menu
                            </a>
                        </li>

                        <!-- About Us -->
                        <li class="nav-item dropdown">
                            <a asp-controller="AboutUs" asp-action="AboutUs" class="nav-link menu-header" bis_skin_checked="1">
                                About Us
                            </a>
                        </li>

                        <!-- Cart -->
                        <li class="nav-item dropdown">
                            <a asp-controller="Cart" asp-action="Cart" class="nav-link menu-header" bis_skin_checked="1">
                                Cart
                            </a>
                        </li>
                    </ul>

                    <div class=" navbar-nav" style="position: absolute;right: 35px;" bis_skin_checked="1">
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Register" class="nav-link" bis_skin_checked="1">
                                <button class="btn-pretty">
                                    Register
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link" style="padding-left: unset" bis_skin_checked="1">
                                <button class="btn-pretty">
                                    Login
                                </button>
                            </a>
                        </li>
                    </div>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto" style="position: absolute;right: 35px;">
                </ul>
            </div>
        </nav>

        <!--Main-->
        <main>
            <section class="content">
                <div class="container-fluid" bis_skin_checked="1">
                    <center><img src="~/img/city.png" class="city__icon"></center>
                    <h1 class="guide__title" style="margin-bottom: 72px;">Login</h1>
                    <div class="container" bis_skin_checked="1">

                        <div class="row justify-content-center" bis_skin_checked="1">
                            <div class="col-md-8" bis_skin_checked="1">
                                <div class="card" style="box-shadow: unset" bis_skin_checked="1">
                                    <div class="card-body" bis_skin_checked="1">
                                        <br>
                                        <form>
                                            <input type="hidden" name="_token" value="aTvpOZB8tfgxuqexbWR2TwJZWzvBm0DheqGyHMR3">
                                            <!--Username-->
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="login_name" class="col-md-4 col-form-label text-md-right">
                                                    Tên đăng nhập
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input id="login_name" type="text" class="concave form-control " name="login_name" value="" required="" autocomplete="login_name" autofocus="">
                                                </div>
                                            </div>
                                            <!--Password-->
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label for="password" class="col-md-4 col-form-label text-md-right">
                                                    Mật khẩu
                                                </label>
                                                <div class="col-md-6" bis_skin_checked="1">
                                                    <input id="password" type="password" class="concave form-control " name="password" required="" autocomplete="current-password">
                                                </div>
                                            </div>


                                            <div class="col-md-6 offset-md-4 mb-3" bis_skin_checked="1">
                                                <!-- Google reCaptcha -->
                                                
                                                <!-- End Google reCaptcha -->
                                            </div>
                                            <div class="form-group row mb-0" bis_skin_checked="1">
                                                <div class="col-md-8 offset-md-4" bis_skin_checked="1">
                                                    <button type="submit" class="btn btn-primary">
                                                        Đăng nhập
                                                    </button>
                                                    <a asp-controller="Account" asp-action="Register" class="btn btn-light" bis_skin_checked="1">
                                                        Đăng ký
                                                    </a>
                                                    <a asp-controller="Account" asp-action="Forgot" bis_skin_checked="1">
                                                        Quên mật khẩu? Lấy lại
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
