<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">Cảm ơn bạn đã đăng ký tài khoản</h1>
            <p class="text-center">Chúng tôi đã gửi một email xác thực đến cho bạn. 
                Vui lòng xác thực tài khoản để tiếp tục đăng nhập.
                Nếu không thấy vui lòng kiểm tra trong thư rác.</p>
        </div>
    </div>
</div>