<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-dark p-lg-5 align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-warning fw-normal">Register</h5>
            <h1 class="text-white mb-4">Register to your account</h1>
            <form>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="User name">
                        <label for="name">User Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Your Email</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <label for="email">Your Password</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="rppassword" placeholder="Repeat Password">
                        <label for="rppassword">Repeat Your Password</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-success w-100 py-3" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>