@model Admin.Models.ViewModel.ResetPasswordViewModel

<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-dark p-lg-5 align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-warning fw-normal">Cập nhât</h5>
            <h1 class="text-white mb-4">Cập nhật mật khẩu mới</h1>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Code" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Email" readonly type="text" class="form-control" id="email" placeholder="Email">
                        <label asp-for ="Email" for="email">Email</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Mật khẩu mới">
                        <label asp-for="Password" for="Password">Mật khẩu mới</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Xác nhận mật khẩu">
                        <label asp-for="ConfirmPassword" for="ConfirmPassword">Xác nhận mật khẩu</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info w-100 py-3" type="submit">Đổi mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>