<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">Thành công</h1>
            <p class="text-center">
               Hay bâm vào trang login để đăng nhập tài khoản của bạn.
            </p>
        </div>
    </div>
</div>